<!DOCTYPE html>
<html lang="en" ng-app="directoryApp">
<head>
  <meta charset="UTF-8">
  <title>AngularJS For Everyone</title>
  <link rel="stylesheet" href="styles/main.css">
</head>
<body ng-controller="directoryCtrl">
  <input type="text" ng-model="search">
  <ul>
    <li ng-repeat="item in list | filter: search">{{item.name}} ({{item.age}})</li>
  </ul>


  <form ng-submit="addPerson()">
    <input type="text" placeholder="Name" ng-model="name">
    <input type="number" placeholder="Age" ng-model="age">
    <input type="submit" value="Submit">
  </form>

  <script src="vendor/js/angular.min.js" type="text/javascript"></script>
  <script src="scripts/app.js" type="text/javascript"></script>
  <script src="scripts/controllers/directory.js" type="text/javascript"></script>
</body>
</html>
